# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/GLamora/FileContentIndex/d8e4fed5-c760-4e37-a676-71ace32f0fcb.vsidx
/.vs/GLamora/FileContentIndex/e48d9a30-8f1f-4969-b2e4-ce58f9c91772.vsidx
/.vs/GLamora/FileContentIndex/696f7301-3dc9-4a4c-9710-7293a6a85daa.vsidx
/.vs/GLamora/FileContentIndex/47d70661-6852-49a6-8761-67fe85ed7104.vsidx
/.vs/GLamora/FileContentIndex/cd42ba92-7bc4-47ef-b789-33986fcbaea6.vsidx
/.vs/GLamora/FileContentIndex/d02fd78d-dd59-4e7f-8ee7-946c615fff8b.vsidx
/.vs/GLamora/FileContentIndex/74bc90f2-0cac-4658-8962-4ca3d0a3e397.vsidx
